<div class="logo">
    <img src="../../assets/Logo1.png" alt="">
</div>
<form [formGroup]="inscForm" (ngSubmit)="signup()" >

  <div class="block">
<h1>Inscription</h1>
  <label>
    <input type="text" placeholder = "Prenom" [(ngModel)]="firstName" formControlName="firstName">
  </label>

  <label>
    <input type="text" placeholder = "Nom" formControlName="lastName" required>
  </label>

  <label>
    <input type="email" id="email" [(ngModel)]="email" placeholder = "Email"  formControlName="email" required>
  </label>

<div class="password" >

  <label>
    <input  type="password" [(ngModel)]="password" placeholder = "Mot de passe"  formControlName="password" required>
  </label>
</div>

<div class="msg">  <p-message severity="error"  text="Veuillez respecter le format du courriel (exemple@domaine.fr)" *ngIf="!inscForm.controls['email'].valid&&inscForm.controls['email'].dirty"></p-message> </div>
<div class="msg">  <p-message severity="error"  text="Mot de passe incorrect" *ngIf="!inscForm.controls['password'].valid&&inscForm.controls['password'].dirty"></p-message> </div>


<button  style="margin-top: 15px" type="submit" (click)="signup()" [disabled]="!email || !password " >Valider</button>

</div>

<footer>©2018 Nawal Benahmida</footer>

</form>
