<div class="centre">
<nav >
  <img src="../../assets/Logo1.png" alt="">
  <i mat-button [matMenuTriggerFor]="menu" class="fa fa-bars"></i></nav>
<mat-menu #menu="matMenu">
  <li mat-menu-item routerLink="/categorie" >Categorie</li>
  <li mat-menu-item routerLink="" >Déconnexion</li>
</mat-menu>

<div class="block">



  <div class="{{type.blockVideo}}" *ngFor="let type of typeAbdo">

<div class="{{type.classVideo}}">
<a href="{{type.linkVideo}}"> <i class="fa fa-play-circle"></i> </a>
</div>

<p>{{type.nameVideo}}</p>

</div>

</div>
<footer>©2018 Nawal Benahmida</footer>
</div>
