@import url('https://fonts.googleapis.com/css?family=Montserrat');
.block1 , .block2 , .block3, .block4, .block5{
  height: 40vh;
  width: 45vh;
  background: rgba(192, 10 , 10, 1);
  margin: 10vh;
  border-radius: 2vh;
}

.centre{
    background: rgba(154, 15, 15, 1);
}

.block{
  width: auto;
  margin-left: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
  height: auto;

}

i.fa.fa-play-circle{
    font-size: 14vh;
    margin-left: 16vh;
    line-height: 28vh;
    color:  rgba(235, 24, 1, 0.7);
}

i.fa.fa-play-circle:hover{

    color:  rgba(235, 24, 1, 1);
}

.img1, .img2, .img3, .img4, .img5{
  width: 45vh;
  height: 27vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh
}

.img1{
    background-image: url('../../assets/imageVideo/abdo1.png');
}

.img2{
    background-image: url('../../assets/imageVideo/abdo2.png');
}

.img3{
    background-image: url('../../assets/imageVideo/abdo3.png');
}

.img4{
    background-image: url('../../assets/imageVideo/abdo4.png');
}

.img5{
    background-image: url('../../assets/imageVideo/abdo5.png');
}

p{
  text-align: center;
  color: white;
    font-family: 'Montserrat', sans-serif;
}

i.fa.fa-bars{
  font-size: 9vh;
  margin-right: 10vh;
  margin-top: 9vh;
  color: rgba(237, 24, 1, 1);
  z-index: 2;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 0;
}
img{
    width: 23vh;
    height: 23vh;
    z-index: 2;
}

li.mat-menu-item{
  color: rgba(237, 24, 1, 1);
  font-size: 15px;
  font-weight: bold;
}

li.mat-menu-item:hover{
  background: rgba(214, 48, 49,0.6)
}

footer{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  background: rgba(237, 24, 1, 1);
height: 8vh;
font-weight: bold;
text-align: center;
line-height: 9vh;

}
