<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
<nav >
  <img src="../../assets/Logo1.png" alt="">
  <i mat-button [matMenuTriggerFor]="menu" class="fa fa-bars"></i></nav>
<mat-menu #menu="matMenu">
  <li mat-menu-item (click)="logout()" *ngIf="authService.user | async" >Déconnexion</li>
</mat-menu>

<div class="wrap">

<div class="{{info.class}}" *ngFor="let info of infoCategorie">

<button  routerLink="{{info.routing}}" >{{info.name}}</button>

</div>
<footer>©2018 Nawal Benahmida</footer>
</div>
