<div class="logo">
    <img src="../../assets/Logo1.png" alt="">
</div>

<form [formGroup]="connecForm"  >

<div class="block" >
  <h1  >Welcome {{ (authService.user | async)?.email }}!</h1>

  <label class="email">
    <input type="email" [(ngModel)]="email" placeholder = "Email"  formControlName="email">
  </label>

  <label class="pass">
    <input type="password" [(ngModel)]="password" placeholder = "Mot de passe" formControlName="password" required>

  </label>



  <div class="msg">  <p-message severity="error"  text="Veuillez respecter le format du courriel (exemple@domaine.fr)" *ngIf="!connecForm.controls['email'].valid&&connecForm.controls['email'].dirty"></p-message> </div>
<div class="msg">  <p-message severity="error"  text="Mot de passe incorrect" *ngIf="!connecForm.controls['password'].valid&&connecForm.controls['password'].dirty"></p-message> </div>


  <button type="submit" (click)="login()" [disabled]="!email || !password" >Valider</button>
  <h4> Pas encore inscrit ? <a routerLink="/inscription">Créez un compte ici</a> </h4>
</div>


<footer>©2018 Nawal Benahmida</footer>
</form>
