@import url('https://fonts.googleapis.com/css?family=Montserrat');
.block11 , .block12 , .block13, .block14, .block15{
  height: 35vh;
  width: 45vh;
  background: rgba(192, 10 , 10, 1);
  margin: 8vh;
  border-radius: 2vh;
}

.centre{
    background: rgba(154, 15, 15, 1);
}

.block{
  width: auto;
  margin-left: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15vh;
  height: auto;

}

i.fa.fa-play-circle{
    font-size: 14vh;
    margin-left: 16vh;
    line-height: 28vh;
    color:  rgba(235, 24, 1, 0.7);
}

i.fa.fa-play-circle:hover{

    color:  rgba(235, 24, 1, 1);
}

.img11, .img12, .img13, .img14, .img15{
  width: 45vh;
  height: 27vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh
}

.img11{
    background-image: url('../../assets/imageVideo/fessier1.png');
}

.img12{
    background-image: url('../../assets/imageVideo/fessier2.png');
}

.img13{
    background-image: url('../../assets/imageVideo/fessier3.png');
}

.img14{
    background-image: url('../../assets/imageVideo/fessier4.png');
}

.img15{
    background-image: url('../../assets/imageVideo/cardio4.png');
}

p{
  text-align: center;
  color: white;
    font-family: 'Montserrat', sans-serif;
}

i.fa.fa-bars{
  font-size: 9vh;
  margin-right: 10vh;
  margin-top: 9vh;
  color: rgba(237, 24, 1, 1);
  z-index: 2;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 0;
}
img{
    width: 23vh;
    height: 23vh;
    z-index: 2;
}

li.mat-menu-item{
  color: rgba(237, 24, 1, 1);
  font-size: 15px;
  font-weight: bold;
}

li.mat-menu-item:hover{
  background: rgba(214, 48, 49,0.6)
}

footer{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  background: rgba(237, 24, 1, 1);
height: 8vh;
font-weight: bold;
text-align: center;
line-height: 9vh;

}


@media screen and (max-width: 720px)
{

  img{
      width: 17vh;
      height: 17vh;
      z-index: 2;
  }

  i.fa.fa-bars{
    font-size: 7vh;
    margin-right: 5vh;
    margin-top: 5vh;

  }

  .block{
    margin-left: -1vh;
  }

  .block11 , .block12 , .block13, .block14, .block15{
    height: 30vh;
    width: 35vh;
    background: rgba(192, 10 , 10, 1);
    margin: 10vh;
    border-radius: 2vh;
  }

  .img11, .img12, .img13, .img14, .img15{
    width: 35vh;
    height: 20vh;

  }

  i.fa.fa-play-circle{
      font-size: 14vh;
      margin-left: 12vh;
      line-height: 20vh;
      color:  rgba(235, 24, 1, 0.7);
  }

}

@media screen and (max-width: 1280px) {
  .block11 , .block12 , .block13, .block14, .block15{
    height: 30vh;
    width: 35vh;
    background: rgba(192, 10 , 10, 1);
    margin: 10vh;
    border-radius: 2vh;
  }

  .img11, .img12, .img13, .img14, .img15{
    width: 35vh;
    height: 20vh;

  }

  i.fa.fa-play-circle{
      font-size: 14vh;
      margin-left: 12vh;
      line-height: 20vh;
      color:  rgba(235, 24, 1, 0.7);
  }
}
