<div class="wrap">
  <div class="logo">
      <img src="../../assets/Logo1.png" alt="">
  </div>

  <div class="text">
<h1> 7 minutes de sport par jour </h1>
<p>
Il n'a jamais été aussi facile de retrouver la forme  ni aussi amusant
<span>BodyFit</span> veille également <br> à ce que vous mettiez pleinement à profit vos exercices.<br>
 Vous voulez Retrouver la forme, Perdre du poids, ou Devenir fort ?<br>
Inscrivez-vous des maintenant !
</p>
</div>
<div class="btnHome">
    <button class="btn1"><a routerLink="register">Inscription</a></button>
    <button class="btn2"><a routerLink="login">Connexion</a></button>
</div>

<footer>©2018 Nawal Benahmida</footer>
</div>
