<div class="wrap">
  <div class="logo">
      <img src="../../assets/Logo1.png" alt="">
  </div>
<div class="block">
  <div class="text">
<h1> 7 minutes de sport par jour </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore
  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut

</p>
</div>
<div class="btnHome">
    <button class="btn1"><a routerLink="register">Inscription</a></button>
    <button class="btn2"><a routerLink="login">Connexion</a></button>
</div>
</div>
</div>
